home.ejs
this is our home

<%- include('./homeTitle.ejs') %>

<div id="homeVue" style="background-color: yellow;">
    <my-component></my-component>
    <my-component></my-component>
    <my-component></my-component>
</div>

<script src="/assets/index.bundle.js" ></script>