home.ejs
this is our home

<%- include('./homeTitle.ejs') %>

<div id="homeVue" style="background-color: yellow;">
    <my-component></my-component>
</div>
<br>
<span v-if="seen">{{message}}</span>
<div>{{hello}}</div> <input type="text" v-model="hell1">
<a v-bind:href="url" @click="reverseMessage">aaaaaaaa</a>
<a :href="url">bbbbb</a>
<ol>
    <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
</ol>
<script src="/assets/index.bundle.js" ></script>