<html>
<head>
      <link href="/assets/libs/bootstrap/bootstrap.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <%- include('./homeTitle.ejs') %>
    <div id="divBody"></div>    
<script src="/assets/index.bundle.js" ></script>
<script src="/assets/libs/jquery/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>


